Repository gnoswap-labs/gnoswap, pull requests merged in 2024-12, with the labels that each got.

#400 refactor, test(pool): Change `updatePosition` param
  pool/position_modify.gno
  pool/position_modify_test.gno
  pool/position_update.gno
Labels: refactoring, pool

#416 test: helper to reset pool state
  pool/helper_test.gno
Labels: enhancement

#402 refactor: modifyPosition
  pool/position_modify.gno
  pool/position_modify_test.gno
  pool/type.gno
Labels: refactoring, pool

#411 GSW-1968 refactor: use latest privileges access check logic
  _deploy/r/gnoswap/common/halt.gno
  _deploy/r/gnoswap/common/halt_test.gno
Labels: refactoring

#404 GSW-1838 refactor: utils
  pool/errors.gno
  pool/utils.gno
  pool/utils_test.gno
Labels: refactoring, pool

#399 GSW-1838 refactor: pool's position
  _deploy/p/gnoswap/pool/sqrt_price_math.gno
  pool/errors.gno
  pool/position.gno
  pool/position_test.gno
Labels: refactoring, pool

#405 GSW-1838 refactor: tick
  pool/pool_manager.gno
  pool/position_update.gno
  pool/tick.gno
  pool/tick_test.gno
  pool/type.gno
Labels: refactoring, pool

#401 GSW-1838 refactor: tick_bitmap
  pool/tick_bitmap.gno
  pool/tick_bitmap_test.gno
Labels: refactoring, pool

#424 GSW-2020 build: support tlin in ci
  .github/workflows/tlin_check.yml
Labels: enhancement, ci

#403 refactor: pool.gno
  pool/_RPC_dry.gno
  pool/errors.gno
  pool/pool.gno
  pool/pool_test.gno
  pool/position_modify.gno
  pool/position_modify_test.gno
  pool/position_update.gno
  pool/position_update_test.gno
  pool/token_register.gno
  pool/type.gno
Labels: refactoring, pool

#412 GSW-1838 feat: grc20reg
  __local/grc20_tokens/grc20reg/approve_transferfrom.txtar
  __local/grc20_tokens/onbloc/bar/bar.gno
  __local/grc20_tokens/onbloc/bar/gno.mod
  __local/grc20_tokens/onbloc/baz/baz.gno
  __local/grc20_tokens/onbloc/baz/gno.mod
  __local/grc20_tokens/onbloc/foo/foo.gno
  __local/grc20_tokens/onbloc/foo/gno.mod
  __local/grc20_tokens/onbloc/obl/gno.mod
  __local/grc20_tokens/onbloc/obl/obl.gno
  __local/grc20_tokens/onbloc/qux/gno.mod
  __local/grc20_tokens/onbloc/qux/qux.gno
  __local/grc20_tokens/onbloc/usdc/gno.mod
  __local/grc20_tokens/onbloc/usdc/usdc.gno
  _deploy/r/gnoswap/gns/gno.mod
  _deploy/r/gnoswap/gns/gns.gno
Labels: refactoring, token, grc20-reg

#427 GSW-1839 refactor: helper test code integration and update gno.mod
  position/_helper_test.gno
  position/gno.mod
  position/position.gno
  position/tests/__TEST_0_INIT_TOKEN_REGISTER_test.gno
  position/tests/__TEST_0_INIT_TOKEN_REGISTER_test.gnoA
  position/tests/__TEST_0_INIT_VARS_HELPERS_test.gno
  position/tests/__TEST_0_INIT_VARS_HELPERS_test.gnoA
Labels: refactoring, position

#428 GSW-2020 feat: tlin ci to check only changed files
  .github/workflows/tlin_check.yml
Labels: enhancement, ci

#434 chore: update sonar option
  .gitignore
  sonar-project.properties
Labels: ci

#423 GSW-1838 chore: remove prefix from pool's receiver getter
  pool/getter.gno
  pool/pool.gno
  pool/position.gno
  pool/tick.gno
  position/_RPC_api.gno
  position/liquidity_management.gno
  position/position.gno
Labels: refactoring, pool

#429 GSW-1838 test: swap_math unitest
  _deploy/p/gnoswap/pool/__TEST_swap_math_test.gnoA
  _deploy/p/gnoswap/pool/swap_math.gno
  _deploy/p/gnoswap/pool/swap_math_test.gno
Labels: refactoring, pool

#425 GSW-1838 test: sqrt_price_math unitest
  _deploy/p/gnoswap/pool/__TEST_sqrt_price_math_test.gnoA
  _deploy/p/gnoswap/pool/consts.gno
  _deploy/p/gnoswap/pool/gno.mod
  _deploy/p/gnoswap/pool/sqrt_price_math.gno
  _deploy/p/gnoswap/pool/sqrt_price_math_test.gno
Labels: refactoring, pool

#432 GSW-1839 refactor: integrated helper and test code
  position/_GET_no_receiver.gno
  position/_RPC_api.gno
  position/_helper_test.gno
  position/errors.gno
  position/helper.gno
  position/helper_test.gno
  position/liquidity_management.gno
  position/nft_helper.gno
  position/position.gno
  position/utils.gno
Labels: refactoring, position

#433 GSW-1839 Refactor/position contract utils
  position/position.gno
  position/utils.gno
  position/utils_test.gno
Labels: wait-other-pr, refactoring, position

#430 GSW-1838 refactor: use avl.Tree in pool
  pool/_helper_test.gno
  pool/api.gno
  pool/api_test.gno
  pool/getter.gno
  pool/getter_test.gno
  pool/pool.gno
  pool/pool_manager.gno
  pool/pool_manager_test.gno
  pool/pool_test.gno
  pool/position.gno
  pool/position_update.gno
  pool/position_update_test.gno
  pool/protocol_fee_withdrawal_test.gno
  pool/swap_test.gno
  pool/tick.gno
  pool/tick_bitmap.gno
  pool/tick_bitmap_test.gno
  pool/tick_test.gno
  pool/type.gno
  pool/utils.gno
Labels: refactoring, pool

#436 GSW-1845 refactor: gns.gno
  _deploy/r/gnoswap/gns/_helper_test.gno
  _deploy/r/gnoswap/gns/gno.mod
  _deploy/r/gnoswap/gns/gns.gno
  _deploy/r/gnoswap/gns/gns_test.gno
  _deploy/r/gnoswap/gns/halving.gno
  _deploy/r/gnoswap/gns/tests/gns_calculate_and_mint_test.gnoA
  _deploy/r/gnoswap/gns/tests/gns_test.gnoA
  _deploy/r/gnoswap/gns/tests/minted_and_left_emission_amount_test.gnoA
  _deploy/r/gnoswap/gns/utils.gno
  emission/emission.gno
Labels: refactoring, token

#440 GSW-1839 refactor: use avl.Tree in position
  position/_GET_no_receiver.gno
  position/_GET_no_receiver_string.gno
  position/_RPC_api.gno
  position/_RPC_dry.gno
  position/_helper_test.gno
  position/errors.gno
  position/helper.gno
  position/liquidity_management.gno
  position/position.gno
  position/tests/__TEST_0_INIT_VARS_HELPERS_test.gnoA
  position/tests/__TEST_position_full_test.gnoA
  position/tests/__TEST_position_increase_burned_position_test.gnoA
  position/tests/__TEST_position_increase_decrease_test.gnoA
  position/tests/__TEST_position_mint_gnot_grc20_in-range_out-range_test.gnoA
  position/tests/__TEST_position_native_increase_decrease_test.gnoA
  position/tests/__TEST_position_native_mint_swap_burn_test.gnoA
  position/tests/__TEST_position_reposition_gnot_pair_test.gnoA
  position/tests/__TEST_position_reposition_grc20_pair_test.gnoA
  position/tests/__TEST_position_reposition_grc20_pair_with_swap_test.gnoA
  position/tests/__TEST_position_same_user_same_pool_diff_range_diff_position_swap_fee_test.gnoA
  position/tests/__TEST_position_same_user_same_pool_same_range_diff_position_swap_fee_test.gnoA
  position/tests/__TEST_position_tokens_owed_left_grc20_pair_more_action_test.gnoA
  position/tests/__TEST_position_tokens_owed_left_pair_more_action_exact_test.gnoA
  position/utils_test.gno
  position/wrap_unwrap.gno
Labels: refactoring, position

#447 GSW-1968 refactor: integration common and position contract
  _deploy/r/gnoswap/common/access.gno
  _deploy/r/gnoswap/common/address_and_username.gno
  _deploy/r/gnoswap/common/errors.gno
  _deploy/r/gnoswap/common/grc20reg_helper.gno
  _deploy/r/gnoswap/common/grc721_token_id.gno
  _deploy/r/gnoswap/common/halt.gno
  _deploy/r/gnoswap/common/limit_caller.gno
  _deploy/r/gnoswap/common/limit_caller_test.gno
  _deploy/r/gnoswap/common/liquidity_amounts.gno
  _deploy/r/gnoswap/common/liquidity_amounts_test.gno
  _deploy/r/gnoswap/common/math.gno
  _deploy/r/gnoswap/common/tick_math.gno
  _deploy/r/gnoswap/common/tick_math_test.gno
  _deploy/r/gnoswap/common/util.gno
  _deploy/r/gnoswap/consts/consts.gno
  pool/pool_manager.gno
  pool/pool_manager_test.gno
  position/_helper_test.gno
  position/errors.gno
  position/gno_helper.gno
  position/helper.gno
  position/helper_test.gno
  position/liquidity_management.gno
  position/liquidity_management_test.gno
  position/native_token.gno
  position/native_token_test.gno
  position/position.gno
  position/position_key.gno
  position/position_test.gno
  position/type.gno
  position/utils.gno
  position/utils_test.gno
  position/wrap_unwrap.gno
Labels: refactoring, position, common, integration

#450 GSW-1839 fix: position tests
  emission/emission.gno
  emission/mint_gns.gno
  pool/pool_manager.gno
  pool/pool_manager_test.gno
  position/_GET_no_receiver_string.gno
  position/_RPC_dry.gno
  position/_helper_test.gno
  position/api.gno
  position/api_test.gno
  position/errors.gno
  position/getter.gno
  position/getter_test.gno
  position/liquidity_management.gno
  position/liquidity_management_test.gno
  position/native_token.gno
  position/native_token_test.gno
  position/position.gno
  position/position_test.gno
  position/tests/__TEST_0_INIT_TOKEN_REGISTER_test.gnoA
  position/tests/__TEST_0_INIT_VARS_HELPERS_test.gnoA
  position/tests/__TEST_fee_collect_with_two_user_test.gnoA
  position/tests/__TEST_position_api_test.gnoA
  position/tests/__TEST_position_full_test.gnoA
  position/tests/__TEST_position_full_with_emission_test.gnoA
  position/tests/__TEST_position_increase_burned_position_test.gnoA
  position/tests/__TEST_position_increase_decrease_test.gnoA
  position/tests/__TEST_position_mint_gnot_grc20_in-range_out-range_test.gnoA
  position/tests/__TEST_position_mint_swap_burn_left_test.gnoA
  position/tests/__TEST_position_native_increase_decrease_test.gnoA
  position/tests/__TEST_position_native_mint_swap_burn_test.gnoA
  position/tests/__TEST_position_reposition_gnot_pair_test.gnoA
  position/tests/__TEST_position_reposition_grc20_pair_test.gnoA
  position/tests/__TEST_position_reposition_grc20_pair_with_swap_test.gnoA
  position/tests/__TEST_position_same_user_same_pool_diff_range_diff_position_swap_fee_test.gnoA
  position/tests/__TEST_position_same_user_same_pool_same_range_diff_position_swap_fee_test.gnoA
  position/tests/__TEST_position_test_two_position_used_single_swap_test.gnoA
  position/tests/__TEST_position_tokens_owed_left_grc20_pair_more_action_test.gnoA
  position/tests/__TEST_position_tokens_owed_left_pair_more_action_exact_test.gnoA
  position/tests/__TEST_position_unclaimed_fee_test.gnoA
  position/type.gno
  position/utils.gno
  position/utils_test.gno
  router/comptue_routes.gno
  staker/staker.gno
Labels: position

#431 refactor: router
  emission/emission.gno
  router/_helper_test.gno
  router/base.gno
  router/base_test.gno
  router/comptue_routes.gno
  router/exact_in.gno
  router/exact_in_test.gno
  router/exact_out.gno
  router/gno.mod
  router/gno_helper.gno
  router/protocol_fee_swap.gno
  router/protocol_fee_swap_test.gno
  router/router.gno
  router/router_dry.gno
  router/router_dry_test.gno
  router/router_test.gno
  router/swap_inner.gno
  router/swap_inner_test.gno
  router/swap_multi.gno
  router/swap_multi_test.gno
  router/swap_single.gno
  router/swap_single_test.gno
  router/tests/__TEST_0_INIT_TOKEN_REGISTER_test.gnoA
  router/tests/__TEST_0_INIT_VARS_HELPERS_test.gnoA
  router/tests/__TEST_router_all_2_route_2_hop_test.gnoA
  router/tests/__TEST_router_all_2_route_2_hop_with_emission_test.gnoA
  router/tests/__TEST_router_native_swap_amount_check_test.gnoA
  router/tests/__TEST_router_spec_#1_ExactIn_test.gnoA
  router/tests/__TEST_router_spec_#2_ExactIn_test.gnoA
  router/tests/__TEST_router_spec_#3_ExactIn_test.gnoA
  router/tests/__TEST_router_spec_#4_ExactIn_test.gnoA
  router/tests/__TEST_router_spec_#5_ExactOut_test.gnoA
  router/tests/__TEST_router_spec_#6_ExactOut_test.gnoA
  router/tests/__TEST_router_spec_#7_ExactOut_test.gnoA
  router/tests/__TEST_router_spec_#8_ExactOut_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_all_liquidity_exact_in_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_all_liquidity_exact_out_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_native_in_out_test_exact_in_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_out_range_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_test.gnoA
  router/tests/__TEST_router_swap_route_1route_1hop_wrapped_native_in_out_test.gnoA
  router/tests/__TEST_router_swap_route_1route_2hop_wrapped_native_in_out_test.gnoA
  router/tests/__TEST_router_swap_route_1route_3hop_wrapped_native_middle_test.gnoA
  router/tests/__TEST_router_swap_route_2route_2hop_test.gnoA
  router/token_register.gno
  router/type.gno
  router/type_test.gno
  router/utils.gno
  router/utils_test.gno
Labels: refactoring, router

#443 GSW-1846 refactor gnft
  _deploy/r/gnoswap/gnft/errors.gno
  _deploy/r/gnoswap/gnft/gnft.gno
  _deploy/r/gnoswap/gnft/gnft_test.gno
  _deploy/r/gnoswap/gnft/gno.mod
  _deploy/r/gnoswap/gnft/svg_generator_test.gno
  _deploy/r/gnoswap/gnft/tests/gnft_test.gno
  _deploy/r/gnoswap/gnft/utils.gno
  pool/utils.gno
Labels: refactoring

#439 GSW-1845 refactor: gns (halving related)
  _deploy/r/gnoswap/consts/consts.gno
  _deploy/r/gnoswap/gns/_helper_test.gno
  _deploy/r/gnoswap/gns/errors.gno
  _deploy/r/gnoswap/gns/gns.gno
  _deploy/r/gnoswap/gns/gns_test.gno
  _deploy/r/gnoswap/gns/halving.gno
  _deploy/r/gnoswap/gns/halving_test.gno
  _deploy/r/gnoswap/gns/tests/gns_calculate_and_mint_test.gnoA
  _deploy/r/gnoswap/gns/tests/halving_test.gnoA
  _deploy/r/gnoswap/gns/tests/minted_and_left_emission_amount_test.gnoA
  _deploy/r/gnoswap/gns/tests/z1_filetest.gno
  _deploy/r/gnoswap/gns/tests/z2_filetest.gno
  _deploy/r/gnoswap/gns/tests/z3_filetest.gno
  _deploy/r/gnoswap/gns/tests/z4_filetest.gno
Labels: token, staker

#449 GSW-1844 refactor: query distributed amount for each targets
  emission/_test_helper.gno
  emission/distribution.gno
  emission/distribution_test.gno
  emission/emission.gno
  emission/emission_test.gno
  emission/gno.mod
  emission/mint_gns.gno
  emission/tests/distribution_test.gnoA
  emission/tests/emission_test.gnoA
  emission/utils.gno
Labels: refactoring

#452 GSW-1668 feat: use grc20reg to support multiple grc20 tokens
  _deploy/r/gnoswap/common/grc20reg_helper.gno
  _deploy/r/gnoswap/common/grc20reg_helper_test.gno
  community_pool/community_pool.gno
  community_pool/community_pool_test.gno
  community_pool/gno.mod
  community_pool/tests/community_pool_test.gno
  community_pool/token_register.gno
  community_pool/util.gno
  gov/staker/staker.gno
  gov/staker/token_register.gno
  launchpad/launchpad_deposit.gno
  launchpad/launchpad_init.gno
  launchpad/launchpad_reward.gno
  launchpad/tests/__TEST_launchpad_reward_and_gov_reward_03_test.gnoA
  launchpad/token_register.gno
  protocol_fee/gno.mod
  protocol_fee/protocol_fee.gno
  protocol_fee/protocol_fee_test.gno
  protocol_fee/tests/__TEST_protocol_fee_test.gnoA
  protocol_fee/token_register.gno
Labels: refactoring, token
