Repository gnoswap-labs/gnoswap, pull requests merged in 2024-11, with the labels that each got.

#390 GSW-1968 Extract Caller Comparison Pattern
  _deploy/r/gnoswap/common/access.gno
  _deploy/r/gnoswap/gnft/utils.gno
  _deploy/r/gnoswap/gns/halving.gno
  community_pool/community_pool.gno
  community_pool/token_register.gno
  community_pool/util.gno
  emission/distribution.gno
  gov/governance/config.gno
  gov/governance/util.gno
  gov/staker/clean_delegation_stat_history.gno
  gov/staker/reward_calculation.gno
  gov/staker/token_register.gno
  gov/staker/util.gno
  launchpad/launchpad_init.gno
  launchpad/token_register.gno
  launchpad/util.gno
  pool/pool.gno
  pool/protocol_fee_pool_creation.gno
  pool/protocol_fee_withdrawal.gno
  pool/token_register.gno
  pool/utils.gno
  position/utils.gno
  protocol_fee/protocol_fee.gno
  protocol_fee/token_register.gno
  protocol_fee/utils.gno
  router/protocol_fee_swap.gno
  router/token_register.gno
  router/utils.gno
  staker/external_deposit_fee.gno
  staker/external_token_list.gno
  staker/manage_pool_tiers.gno
  staker/protocol_fee_unstaking.gno
  staker/token_register.gno
  staker/utils.gno
  staker/warm_up.gno
Labels: refactoring

#394 chore: Remove String Concat With `+` Operator
  _deploy/r/gnoswap/common/strings.gno
  gov/governance/_GET_vote.gno
  gov/governance/vote.gno
  launchpad/launchpad_deposit.gno
  position/utils.gno
  router/comptue_routes.gno
  router/utils.gno
  staker/utils.gno
Labels: refactoring

#386 GSW-1838 refactor: added comments for details and fix typo
  pool/errors.gno
  pool/pool.gno
Labels: refactoring, pool

#396 GSW-1699 feat: Update Tokens to Follow New GRC20 Specs
  __local/grc20_tokens/onbloc/bar/bar.gno
  __local/grc20_tokens/onbloc/baz/baz.gno
  __local/grc20_tokens/onbloc/foo/foo.gno
  __local/grc20_tokens/onbloc/obl/obl.gno
  __local/grc20_tokens/onbloc/qux/qux.gno
  __local/grc20_tokens/onbloc/usdc/usdc.gno
  _deploy/r/gnoswap/common/access.gno
  _deploy/r/gnoswap/gns/gns.gno
  setup.py
Labels: token

#398 refactor: liquidity_math
  pool/liquidity_math.gno
Labels: refactoring, pool

#379 refactor(pool): pool manager
  pool/liquidity_math_test.gno
  pool/pool_manager.gno
  pool/pool_manager_test.gno
  pool/protocol_fee_withdrawal.gno
  pool/tests/__TEST_liquidity_math_test.gnoA
  pool/type.gno
Labels: refactoring, pool

#397 GSW-1838 refactor: protocol fee creation
  pool/protocol_fee_pool_creation.gno
  pool/protocol_fee_pool_creation_test.gno
Labels: refactoring, pool

#408 fix: gns token
  _deploy/r/gnoswap/gns/gns.gno
Labels: bug
