Repository gnoswap-labs/gnoswap, pull requests merged in 2025-03, with the labels that each got.

#553 test: router test
  contract/r/gnoswap/router/_helper_test.gno
  contract/r/gnoswap/router/errors.gno
  contract/r/gnoswap/router/exact_out_test.gno
  contract/r/gnoswap/router/router_dry.gno
  contract/r/gnoswap/router/swap_inner.gno
  contract/r/gnoswap/router/swap_single.gno
  contract/r/gnoswap/router/swap_single_test.gno
  contract/r/gnoswap/router/type.gno
  contract/r/gnoswap/router/type_test.gno
Labels: router

#565 Refactor launchpad, gov staker and fix position, pool bug
  contract/r/gnoswap/common/liquidity_amounts.gno
  contract/r/gnoswap/gov/staker/_helper_test.gno
  contract/r/gnoswap/gov/staker/reward.gno
  contract/r/gnoswap/gov/staker/staker.gno
  contract/r/gnoswap/gov/staker/tests/governance_reward_protocol_fee_with_launchpad_test.gnoA
  contract/r/gnoswap/launchpad/_helper_test.gno
  contract/r/gnoswap/launchpad/api_project.gno
  contract/r/gnoswap/launchpad/consts.gno
  contract/r/gnoswap/launchpad/launchpad_deposit.gno
  contract/r/gnoswap/launchpad/launchpad_deposit_test.gno
  contract/r/gnoswap/launchpad/reward_calculation.gno
  contract/r/gnoswap/launchpad/tests/launchpad_create_project_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_deposit_project_single_recipient_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_deposit_project_two_recipient_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_refund_ended_proejct_no_deposit_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_refund_ended_proejct_with_tier30_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_reward_and_gov_reward_01_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_reward_and_gov_reward_02_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier180_single_deposit_reward_by_proejct_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier180_single_deposit_reward_by_proejct_tier_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier30_single_deposit_01_deposit_collect_gns_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier30_single_deposit_02_deposit_reward_by_proejct_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier30_single_deposit_03_deposit_reward_by_deposit_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier30_single_deposit_04_deposit_reward_by_deposit_endheight_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier30_two_deposit_reward_by_project_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier90_single_deposit_reward_by_proejct_tier_test.gnoA
  contract/r/gnoswap/launchpad/tests/launchpad_tier_all_single_deposit_reward_by_proejct_tier_test.gnoA
  contract/r/gnoswap/launchpad/tests/rpc_api_test.gnoA
  contract/r/gnoswap/position/position_mint_test.gno
  contract/r/gnoswap/position/position_test.gno
  contract/r/gnoswap/position/tests/position_reposition_gnot_pair_test.gnoA
  contract/r/gnoswap/position/utils.gno
  contract/r/gnoswap/staker/_helper_test.gno
  contract/r/gnoswap/staker/filetests/average_block_time_change_from_gns_filetest.gno
  contract/r/gnoswap/staker/filetests/pool_add_to_tier2_and_change_to_tier3_internal_filetest.gno
  contract/r/gnoswap/staker/filetests/pool_add_to_tier2_and_removed_internal_filetest.gno
  contract/r/gnoswap/staker/filetests/staked_liquidity_change_by_staking_unstaking_external_filetest.gno
  contract/r/gnoswap/staker/filetests/staked_liquidity_change_by_staking_unstaking_internal_filetest.gno
  contract/r/gnoswap/staker/reward_calculation_canonical_env_test.gno
  contract/r/gnoswap/staker/tests/full_internal_external_test.gnoA
Labels: launchpad

#559 feat: Integration of Role Change into Parameter Change Proposals
  contract/p/gnoswap/consts/consts.gno
  contract/p/gnoswap/halt/level.gno
  contract/r/gnoswap/gov/governance/execute.gno
  contract/r/gnoswap/gov/governance/fn_registry.gno
  contract/r/gnoswap/gov/governance/fn_registry_test.gno
  contract/r/gnoswap/gov/governance/proposal.gno
  contract/r/gnoswap/gov/governance/proposal_role.gno
  contract/r/gnoswap/gov/governance/proposal_role_test.gno
  contract/r/gnoswap/gov/governance/proposal_test.gno
Labels: governance

#572 Refactor/gov staker and launchpad
  contract/r/gnoswap/gov/staker/api_staker_test.gno
  contract/r/gnoswap/gov/staker/reward.gno
  contract/r/gnoswap/launchpad/launchpad_test.gno
  contract/r/gnoswap/launchpad/reward_calculation.gno
  contract/r/gnoswap/launchpad/tests/launchpad_deposit_project_single_recipient_test.gnoA
Labels: governance, launchpad

#578 fix(uint256, int256): Apply Suggestions
  contract/p/gnoswap/int256/absolute.gno
  contract/p/gnoswap/int256/absolute_test.gno
  contract/p/gnoswap/int256/arithmetic.gno
  contract/p/gnoswap/int256/arithmetic_test.gno
  contract/p/gnoswap/int256/bitwise.gno
  contract/p/gnoswap/int256/bitwise_test.gno
  contract/p/gnoswap/int256/conversion.gno
  contract/p/gnoswap/int256/conversion_test.gno
  contract/p/gnoswap/int256/int256.gno
  contract/p/gnoswap/int256/int256_test.gno
  contract/p/gnoswap/uint256/fullmath.gno
  contract/p/gnoswap/uint256/fullmath_test.gno
  contract/p/gnoswap/uint256/uint256.gno
Labels: bug, enhancement

#588 fix: Complete Stake Wipeout on Partial Undelegation
  contract/r/gnoswap/gov/staker/reward.gno
  contract/r/gnoswap/gov/staker/reward_test.gno
Labels: bug, governance
