Repository gnoswap-labs/gnoswap, pull requests merged in 2025-01, with the labels that each got.

#463 fix: staker test code and external incentive leftAmount management
  position/native_token_test.gno
  staker/__TEST_more_01_single_position_for_each_warmup_tier_total_4_position_internal_only_test.gnoA
  staker/__TEST_more_04_positions_with_different_liquidity_and_in_range_chane_by_swap_test.gnoA
  staker/__TEST_staker_emission_and_external_incentive_test.gnoA
  staker/__TEST_staker_full_with_emission_test.gnoA
  staker/__TEST_staker_short-warmup_period_collect_reward_test.gnoA
  staker/errors.gno
  staker/reward_calculation_canonical_test.gnoA
  staker/staker.gno
Labels: position, staker

#460 test(staker): reward calculation warmup
  staker/reward_calculation_warmup.gno
  staker/reward_calculation_warmup_test.gno
Labels: staker

#464 feat/manage protocol fee list
  _deploy/r/gnoswap/common/access.gno
  pool/pool_manager.gno
  pool/protocol_fee_withdrawal.gno
  pool/protocol_fee_withdrawal_test.gno
  protocol_fee/errors.gno
  protocol_fee/protocol_fee.gno
  protocol_fee/protocol_fee_test.gno
  protocol_fee/token_list_with_amount.gno
  protocol_fee/token_list_with_amount_test.gno
  protocol_fee/utils.gno
  router/protocol_fee_swap.gno
  staker/protocol_fee_unstaking.gno
Labels: enhancement, protocol_fee

#451 refactor: Launchpad Architecture Refactoring
  _deploy/r/gnoswap/common/liquidity_amounts_test.gno
  gov/staker/api_staker.gno
  gov/staker/api_staker_test.gno
  gov/staker/reward_calculation.gno
  gov/staker/reward_calculation_test.gno
  gov/staker/staker.gno
  gov/staker/staker_test.gno
  gov/xgns/xgns.gno
  launchpad/_RPC_api_deposit.gno
  launchpad/_RPC_api_project.gno
  launchpad/_helper_test.gno
  launchpad/api_deposit.gno
  launchpad/api_project.gno
  launchpad/api_reward.gno
  launchpad/consts.gno
  launchpad/deposit.gno
  launchpad/deposit_test.gno
  launchpad/dummy_test.gno
  launchpad/errors.gno
  launchpad/gno.mod
  launchpad/json_builder.gno
  launchpad/json_builder_test.gno
  launchpad/launchpad.gno
  launchpad/launchpad_deposit.gno
  launchpad/launchpad_init.gno
  launchpad/launchpad_reward.gno
  launchpad/launchpad_test.gno
  launchpad/reward.gno
  launchpad/reward_calculation.gno
  launchpad/reward_calculation_test.gno
  launchpad/reward_test.gno
  launchpad/tests/__TEST_0_INIT_TOKEN_REGISTER_test.gno
  launchpad/tests/__TEST_0_INIT_VARIABLE_AND_HELPER_test.gno
  launchpad/tests/__TEST_RPC_api_test.gnoA
  launchpad/tests/__TEST_launchpad_create_project_test.gnoA
  launchpad/tests/__TEST_launchpad_deposit_project_single_recipient_test.gnoA
  launchpad/tests/__TEST_launchpad_deposit_project_two_recipient_test.gnoA
  launchpad/tests/__TEST_launchpad_refund_ended_proejct_no_deposit_test.gnoA
  launchpad/tests/__TEST_launchpad_refund_ended_proejct_with_tier30_test.gnoA
  launchpad/tests/__TEST_launchpad_reward_and_gov_reward_01_test.gnoA
  launchpad/tests/__TEST_launchpad_reward_and_gov_reward_02_test.gnoA
  launchpad/tests/__TEST_launchpad_reward_and_gov_reward_03_test.gnoA
  launchpad/tests/__TEST_launchpad_tier180_single_deposit_reward_by_proejct_test.gnoA
  launchpad/tests/__TEST_launchpad_tier180_single_deposit_reward_by_proejct_tier_test.gnoA
  launchpad/tests/__TEST_launchpad_tier30_single_deposit_01_deposit_collect_gns_test.gnoA
  launchpad/tests/__TEST_launchpad_tier30_single_deposit_02_deposit_reward_by_proejct_test.gnoA
  launchpad/tests/__TEST_launchpad_tier30_single_deposit_03_deposit_reward_by_deposit_test.gnoA
  launchpad/tests/__TEST_launchpad_tier30_single_deposit_04_deposit_reward_by_deposit_endheight_test.gnoA
  launchpad/tests/__TEST_launchpad_tier30_two_deposit_reward_by_project_test.gno
  launchpad/tests/__TEST_launchpad_tier90_single_deposit_reward_by_proejct_tier_test.gnoA
  launchpad/tests/__TEST_launchpad_tier_all_single_deposit_reward_by_proejct_tier_test.gnoA
  launchpad/type.gno
  launchpad/util.gno
  pool/utils_test.gno
  position/native_token_test.gno
  position/position.gno
  position/utils_test.gno
  staker/external_deposit_fee_test.gno
Labels: refactoring, launchpad

#477 feat: Update setup script
  setup.py
Labels: enhancement
